body {
    font-family: Arial, sans-serif; /* Шрифт для страницы */
    margin: 0;
    padding-bottom: 0px;
}
a {
    text-decoration: none;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid lightgray; /* Светло-серая верхняя граница */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для визуализации */
    border-radius: 10px; /* Закругление углов */
}
a.logo {
	margin: 2px;
    margin-left: 25px;
    border-radius: 10px;
    overflow: hidden;
    display: inline;
    align-items: flex-start;
    font-weight: bold;
}
a.logo:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
a.logo img {
    width: 70px;
    height: 50px;
    background-size: cover;
}
.sitename{
    display: flex;
    justify-content: center;
    color: black;
}

.contact-button {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    height: auto;
    margin: 2px;
    padding: 10px 20px; /* Внутренние отступы кнопки */
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругление углов */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.contact-button:hover {
    background-color: #0056b3; /* Темнеет при наведении */
}
.search-container {
    display: flex;
    flex-wrap: wrap;
    text-align: start; /* Центрирование поисковой строки */
    margin-top: 2px; /* Отступ сверху */
}

.search-input {
    padding: 10px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px; /* Скругление углов */
}

.search-button {
    padding: 10px 15px; /* Внутренние отступы кнопки */
    margin-left: 10px; /* Отступ между полем ввода и кнопкой */
    font-size: 16px; /* Размер шрифта кнопки */
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без границы */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
}

.search-button:hover {
    background-color: #0056b3; /* Темнеет при наведении */
}
.button {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #0056b3;
}
.signin{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: flex-end; 
    background-color: white;
    margin-right: 25px;
}
.cart-button {
    display: flex; 
    flex-wrap: wrap;
    text-align: start;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}
.cart-button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
.footer{
    border-top: 5px solid lightgray; /* Светло-серая верхняя граница */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для визуализации */
    border-radius: 10px; /* Закругление углов */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer div{
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.text1{
    margin-left: 10px;
}
.tg a{
    color: black;
}
.tg a:hover{
    color: #0056b3;
}