body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
.container2{
    margin-top: 5px;
    display: flex;
}
.product-image {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    width:40%;
    height: auto;
    padding-right: 20px;
    padding-bottom: 20vh;
}
.characters{
    display: flex;
    width: 100%;
}
.product-image img {
    max-width: 100%;
    height: auto;
}
.product-details {
    flex: 2;
    height: 100%;
}
.price {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #333;
    margin: 10px 0;
}
.add-to-cart {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.add-to-cart:hover{
    background-color: #0056b3; /* Темнеет при наведении */
}
.description, .specifications {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}
